html {
  scroll-behavior: smooth;
}

body {
  background-color: #1F2937;
  color: #F3F4F6;
}

.timeline-content {
  width: 100%;
  max-width: 65%;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.timeline-content.left {
  transform: translateX(-12rem);
}

.timeline-content.right {
  transform: translateX(12rem);
}

.timeline-content.left:hover {
  transform: translateX(-15rem) scale(1.05);
  box-shadow: 0 8px 16px rgba(190, 190, 190, 0.2);
}

.timeline-content.right:hover {
  transform: translateX(15rem) scale(1.05);
  box-shadow: 0 8px 16px rgba(190, 190, 190, 0.2);
}

@media screen and (max-width: 768px) {

  .timeline-content,
  .timeline-content.left,
  .timeline-content.right {
    max-width: 100%;
    margin-bottom: 1rem;
    transform: translateX(0) !important;
  }
}

.project-card {
  cursor: pointer;
  transition: 0.5s
}

.project-card:hover {
  transform: translateY(-0.5rem) scale(1.05);
  box-shadow: 0 8px 16px rgba(190, 190, 190, 0.2);
}